extends ../layouts/common.pug

block content

	h1 Users

	a(href="/users/create") New User

	form(action='/users/search', method='GET').form-inline
		.form-group.mx-sm-3.mb-2
			input.form-control(type='text', name='q', placeholder='Search...', value=value)
		button.btn.btn-primary.mb-2(type='submit') Search

	table.table
		thead
			tr
				th(scope='col') Avatar
				th(scope='col') Name
				th(scope='col') Phone
				th(scope='col') Actions
		tbody
			tr
			each user in users
				tr
					td
						img.rounded-circle(src= user.path, width="64", height="64")
					td= user.name
					td= user.phone
					td
						a.btn.btn-light(href="/users/" + user.id) View